* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: green;
}

#first-paragraph {
    color: cadetblue;
    font-size: 24px;
}

#id-1-li {
    color: chartreuse;
    font-size: 20px;
}

#id-2-li {
    color: cornflowerblue;
    font-size: 20px;
}

.class-1-li {
    color: crimson;
    font-size: 20px;
}

div > h2 {
    color: violet;
}

.dem1 + .dem1 {
    text-decoration: line-through;
}

.dem1 ~ .dem1 {
    color: tomato;
}