* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: green;
}

#first-paragraph {
    color: cadetblue;
    font-size: 24px;
}

#id-1-li {
    color: chartreuse;
    font-size: 20px;
}

#id-2-li {
    color: cornflowerblue;
    font-size: 20px;
}

.class-1-li {
    color: crimson;
    font-size: 20px;
}

div > h2 {
    color: violet;
}

.dem1 + .dem1 {
    text-decoration: line-through;
}

.dem1 ~ .dem1 {
    color: tomato;
}

h2.test-12-7#test-12-7-2 {
    color: red;
}

.test-12-7 {
    color: turquoise !important;
}

:root {
    --li_color: red;
}

li {
    color: var(--li_color);
}

.submit:hover {
background-color: aqua;
}

li:last-child {
    color: cadetblue;
}

.dem0 {
    padding: 10px;
}

.submit {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 10px;
}

.img {
    padding: 10px 10px 10px 10px;
    border-top: 10px solid green;
    height: 300px;
}

.div {
    width: 50vw;
    height: 50vw;
    background-image: 
    linear-gradient(90deg, rgba(209, 57, 19, 0.5), rgba(17, 213, 213, 0.5)),
    url(assets/images/henam2.jpg);
    background-size: 100% 100%;
}

/* có 2 loại background-size là cover và containt, thu kéo màn hình để thấy rõ hơn */
.cover {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/selfie1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contain {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/selfie2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}