* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first-heading1 {
    color: blue;
}

.hehe {
    color: green;
}

.test1 {
    color: yellowgreen;
}

.test3.test4 {
    color: violet;
}

.test5 .test6{
    color: tomato;
}

h2 {
    text-decoration: underline;
}

h3.test-element4 {
    text-decoration: line-through;
}

h2, .test-element1 {
    color: teal;
}

div h2{
    color: crimson;
}

h2.class#id {
    color: sandybrown;
}

.class#id {
    color: blue !important;
}

:root {
    --my_color: green;
}

/* Biến toàn cục */
.bien {
    color: var(--my_color);
}

/* Biến cục bộ */
.bien2 {
    --text-color: red;
    color: var(--text-color);
}

.box {
    width: 100px;
    height: 100px;
    background-color: green;
}

.box2 {
    width: 90%;
    height: 200px;
    background-color: red;
}

/* rem phụ thuộc vào thẻ html */
h2.rem {
    font-size: 2rem;
}

/* em phụ thuộc vào thẻ có thuộc tính font-size gần nhất */
h2.em {
    font-size: 1em;
}

/* vw- viewport-width: chiếm đúng bằng bao nhiêu % chiều ngang của trình duyệt luôn, vh là tương tự đối với chiều cao*/
.box3 {
    height: 20vh;
    width: 40vw;
    background-color: blue;
}

.css {
    width: 50px;
    height: 100px;
    background-color: rgb(0, 50, 100);
}

.calc {
    width: calc(50% + 40px);
    height: 100px;
    background-color: rgb(53, 23, 97);
}
a::after {
    content: " (" attr(href) ")";
}

.vv {
    width: 100px;
    height: 100px;
    background-color: turquoise;
}

.vv::before {
    content: attr(data-title);
    color: brown;
}

.bien::first-letter {
    font-size: 50px;
    color: red;
}

.bien2::first-line {
    color: steelblue;
}

.select::selection {
    background-color: aqua;
    color: rgb(191, 159, 15);
}

.box10 {
    width: 200px;
    height: 200px;
    background-color: burlywood;
}

.box10::after {
    display: block;
    content: "";
    background-color: azure;
    width: 50px;
    height: 50px;
}

.padding {
    background-color: red;
    width: 100px;
    height: 200px;
    padding-top: 50px;
    padding-left: 60px;
}

.padding {
    border-width: thick ;
    border-style: solid;
    border-color: aqua;
}

.padding {
    margin: 10px;
}

.box-sizing {
    width: 100px;
    height: 100px;
    background-color: violet;
    padding: 10px;
    box-sizing: border-box;
}

.bg {
    width: 500px;
    height: 200px;
    background-image: 
    url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Star%2A.svg/2234px-Star%2A.svg.png),
    url(https://www.wikihow.com/images/thumb/d/db/Get-the-URL-for-Pictures-Step-2-Version-6.jpg/v4-728px-Get-the-URL-for-Pictures-Step-2-Version-6.jpg.webp);
    background-size: 100px;
    background-repeat: repeat-x;
}

.ps {
    width: 50vw;
    height: 50vh;
    background-image: linear-gradient(90deg, red, green);
}

.origin {
    width: 500px;
    height: 500px;
    background-image: url(https://app.gak.vn/storage/uploads/2hgISshQgnlJ2WRSJ5tm07Tp89gptJsMoX1mAjMq.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    border: 20px dashed red;
    background-origin: padding-box;
}

.b-position {
    width: 100%;
    height: 100vh;
    background-image: url(https://dimensions.edu.vn/upload/720x1280/2025/01/hinh-nen-dien-thoai-meme-7-720x1280.webp);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: top 50px right 50px;
}

.shorthand {
    width: 100%;
    height: 100vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRYymsafqOw4XmfG4FyvBbF7rC9-7uIatuiw&s) no-repeat center / contain;
}

.position-relative {
    position: relative;
    top: 15px;
}

.boxtest {
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
}

.boxtest2 {
    width: 75%;
    height: 150px;
    background-color: aqua;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.boxtest3 {
    width: 50%;
    height: 100px;
    background-color: crimson;
    position: absolute;
    top: 10px;
    left: 10px;
}

.fixed {
    height: 100px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.dd {
    margin-top: 120px;
}

.sticky {
    width: 100%;
    height: 100px;
    background-color: yellow;
    position: sticky;
    bottom: 0;
}